@charset "utf-8";

@media screen and (min-width: 1024px) {
	html body{
		overflow-x: hidden;
	}
	.container{
		padding: 0 120px;
	}
	.sp-br{
		display: none;
	}
	.pc-br{
		display: block;
	}
	.header{
		padding-top: 20px;
		position: fixed;
		top: 0;
	}
	#fv{
		height: 752px;
	}
	.nav-wrapper{
		display: block;
		height: auto;
		position: static;
	}
	.header-nav{
		background-color: transparent;
	}
	.nav-list{
		display: flex;
		position: static;
		transform: translate(0,0);
	}
	.nav-item{
		margin-bottom: 0;
		padding-left: 30px;
		padding-top: 5px;
	}
	.hamburger{
		display: none;
	}
	.header.fixed{
	    background-color: #282F35;
	    padding: 30px 0;
	}
	.kv{
		height: 170px;
		width: 660px;
		top: 55%;
		left: 120px;
		transform: translate(0,0);
	}
	.main-copy{
		font-size: 70px;
	}
	.sub-copy{
		font-size: 40px;
		padding-left: 40px;
	}
	#concept{
		max-width: 1100px;
		margin: 0 auto;
	}
	.title-wrapper{
		margin-bottom: 70px;
	}
	.main-title{
		font-size: 60px;
	}
	.sub-title{
		font-size: 30px;
		padding-bottom: 60px;
	}
	.bottom-title{
		font-size: 90px;
		padding: 70px 0;
	}
	.flex-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.text{
		width: 40%;
	}
	.concept-img{
		width: 440px;
	}
	#work{
		max-width: 1100px;
		margin: 0 auto;
	}
	.card-list{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.card-item{
		width: 320px;
	}
	.btn{
		margin: 40px 55px 0;
	}
	.service-list{
		flex-direction: row;
		justify-content: space-between;
	}
	.service-item{
		width: 33.3%;
		margin-top: 0;
	}
	.service-item h3{
		font-size: 40px;
	}
	.message{
		font-size: 20px;
	}
}