@charset "utf-8";

* html{
	box-sizing: border-box;
	font-family: "Note Serif","Noto Serif JP", sans-serif;
	line-height: 1.5;
}
a{
	text-decoration: none;
	color: #000;
}
html p{
	font-size: 16px;
}
img{
	width: 100%;
	object-fit: cover;
}
.container{
	padding: 0 15px;
}
.sp-br{
	display: block;
}
.pc-br{
	display: none;
}

/*トップ*/
#fv{
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center 0;
	height: 600px;
	width: 100%;
	position: relative;
}
.fv-bgi-01{
	background-image: url(../img/fv-bgi_01@2x.jpg);
	transition: 0.5s;
}
.fv-bgi-02{
	background-image: url(../img/fv-bgi_02@2x.jpg);
	transition: 0.5s;
}
.fv-bgi-03{
	background-image: url(../img/fv-bgi_03@2x.jpg);
	transition: 0.5s;
}
.header{
	height: 36px;
	width: 100%;
	padding-top: 30px;
	z-index: 3;
}
.header-wrap{
	display: flex;
	justify-content: space-between;
	
}
.site-title{
	font-size: 26px;
	color: #fff;
}
.nav-wrapper{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.header-nav{
   	height: 100%;
	width: 100%;
	background-color: #282F35;
	z-index: 2;
}
.nav-list{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,50%);
	text-align: center;
	color:#fff;
}
.nav-item{
    margin-bottom: 40px;
}
.nav-list a{
	color: #fff;
}
/*ハンバーガーメニュー*/
.hamburger{
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	cursor: pointer;
	z-index: 3;
}
.bar{
	display: block;
	width: 30px;
	height: 3px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
}
.bar-top{
	top: 0;
}
.bar-middle{
	top: 50%;
	transform: translate(-50%,-50%);
}
.bar-bottom{
	bottom: 0px;
}
.close .bar-top{
	transform: translate(-50%,10px) rotate(45deg);
    transition: transform .3s;
}
.close .bar-middle{
	opacity: 0;
    transition: opacity .3s;
}
.close .bar-bottom{
	transform: translate(-50%,-8px) rotate(-45deg);
    transition: transform .3s;
}

/*トップタイトル*/
.kv{
	height: 33%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	z-index: 1;
}
.main-copy{
	font-size: 37px;
}
.sub-copy{
	font-size: 30px;
	padding-top: 53px;
}
/*コンセプト*/
#concept{
	padding-top: 100px;
}
.title-wrapper{
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}
.main-title{
	font-size: 30px;
}
.main-title-after{
	background-color: #000;
	width: 90px; height: 3px;
	margin-left: 30px;
	display: block;
}
.sub-title{
	font-size: 20px;
	text-align: center;
	padding-bottom: 30px;
}
.text{
	height: 150px;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.concept-img{
	max-width: 600px;
	margin: 0 auto;
}
.bottom-title{
	font-size: 40px;
	padding: 40px 0;
}
.bottom-title-white{
	color: #F3F3F3;
	text-align: right;
}

/*ワーク*/
#works{
	width: 100%;
	background-image: url(../img/works-bgi@2x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	padding-top: 100px;
}
.title-wrapper-black{
	justify-content: flex-end;
	color: #fff;
}
.title-wrapper-black .main-title-after{
	background-color: #fff;
}
.card-item{
	margin: 0 auto 30px;
	max-width: 600px;
}
.card-item img{
	height: 200px;
}
.card-text{
	padding: 25px;
	background-color: #fff; 
}
.btn{
	display: block;
	padding: 18px 70px;
	margin: 50px 55px;
	background-color: #F7D43F;
	border-radius: 30px;
	text-align: center;
}

.bottom-title-black{
	color: #4B4E52;
}
/*サービス*/
#service{
	padding-top: 100px;
}
.service-list{
	display: flex;
	flex-direction: column;
}
.service-item{
	height: 250px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center;
	margin-top: 30px;
	z-index: 1;
}
.service-item:hover{
	filter: brightness(70%);
}
.service-item h3 a{
	font-size: 20px;
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}
.item1{
	background-image: url('../img/service-img01@2x.jpg');
}
.item2{
	background-image: url('../img/service-img02@2x.jpg');
}
.item3{
	background-image: url('../img/service-img03@2x.jpg');
}
/*コンタクト*/
#contact{
	background-image: url(../img/contact-bgi@2x.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
	padding-top: 100px;
}
.message{
	color: #fff;
	text-align: center;
}
/*フッター*/
footer .copyrights{
	font-size: 14px;
	padding: 30px 0;
	text-align: center;
}